In [3]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [4]:
school_data_file = Path("Resources/schools_complete.csv")

In [5]:
school_data_df = pd.read_csv(school_data_file)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
students_data_file = Path("Resources/students_complete.csv")

In [7]:
student_data_df = pd.read_csv(students_data_file)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [8]:
# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on="school_name")
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [9]:
# Calculate the total number of unique schools
school_count = len(school_data_complete_df["school_name"].unique())
school_count

15

In [10]:
# Calculate the total number of students
student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [11]:
#check to see if any budgets duplicated accross the schools
schools_budgets_df = school_data_complete_df[["school_name","budget"]]
schools_budgets_df = schools_budgets_df.rename(columns={"budget": "Total Budget:"})
schools_budgets_df
schools_budgets_df.groupby(["school_name"]).mean().sum()

#total budget output as there are no duplicated budgets accross different schools
total_budget = school_data_complete_df["budget"].unique().sum()
total_budget

24649428

In [24]:
# Calculate the average (mean) math score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [23]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [22]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [21]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [20]:
# Checks to see if there is any discrepency between no. students who have a reading score and maths score. 
school_data_complete_df.count()

# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete_df[
    (school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)
].count()["student_name"]

overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [25]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
                                "Total Schools": [school_count], 
                                "Total Students": [student_count],
                                "Total Budget": [total_budget], 
                                "Average Math Score": [average_math_score],
                                "Average Reading Score": [average_reading_score],
                                "% Passing Math": [passing_math_percentage],
                                "% Passing Reading": [passing_reading_percentage],
                                "% Overall Passing": [overall_passing_rate]
                                })

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [11]:
# Use the code provided to select all of the school types
school_types = school_data_df[["school_name", "type"]]
school_types.head()

             school_name      type
0      Huang High School  District
1   Figueroa High School  District
2    Shelton High School   Charter
3  Hernandez High School  District
4    Griffin High School   Charter

In [18]:
# Calculate the total student count per school
per_school_counts = school_data_complete_df[["school_name", "Student ID"]]
per_school_counts = per_school_counts.groupby(["school_name"])
per_school_counts.count().head()

                      Student ID
school_name
Bailey High School          4976
Cabrera High School         1858
Figueroa High School        2949
Ford High School            2739
Griffin High School         1468

In [39]:
# Calculate the total school budget and per capita spending per school

per_school_budget = school_data_complete_df[["school_name", "budget"]]
per_school_budget = per_school_budget.groupby(["school_name"])
per_school_budget.mean().head()

                         budget
school_name
Bailey High School    3124928.0
Cabrera High School   1081356.0
Figueroa High School  1884411.0
Ford High School      1763916.0
Griffin High School    917500.0

In [14]:
# Calculate the average test scores per school
per_school_math = school_data_complete_df[["school_name", "math_score"]]
per_school_math = per_school_math.groupby(["school_name"])
print(per_school_math.mean().head())

per_school_reading = school_data_complete_df[["school_name", "reading_score"]]
per_school_reading = per_school_reading.groupby(["school_name"])
print(per_school_reading.mean().head())

                      math_score
school_name
Bailey High School     77.048432
Cabrera High School    83.061895
Figueroa High School   76.711767
Ford High School       77.102592
Griffin High School    83.351499
                      reading_score
school_name
Bailey High School        81.033963
Cabrera High School       83.975780
Figueroa High School      81.158020
Ford High School          80.746258
Griffin High School       83.816757

In [25]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete_df[["school_name", "math_score"]]
students_passing_math = students_passing_math.loc[(students_passing_math["math_score"] >= 70)]
school_students_passing_math = students_passing_math.groupby(["school_name"])
school_students_passing_math.count().head()

                      math_score
school_name
Bailey High School          3318
Cabrera High School         1749
Figueroa High School        1946
Ford High School            1871
Griffin High School         1371

In [26]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete_df[["school_name", "reading_score"]]
students_passing_reading = students_passing_reading.loc[(students_passing_reading["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"])
school_students_passing_reading.count().head()

                      reading_score
school_name
Bailey High School             4077
Cabrera High School            1803
Figueroa High School           2381
Ford High School               2172
Griffin High School            1426

In [28]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete_df[
    (school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()